# Dependencies
node_modules

# Build output
dist
.angular

# IDE
.idea
.vscode
*.iml

# Test
coverage
.nyc_output

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local

# Docker
Dockerfile
.dockerignore
